<section>
  <h3 class="title">
    <span class="author">
      <%= t('quest.from', username: link_to(quest.creator.username, quest.creator)).html_safe %>
    </span>
    <br>
    <cite>
      <%= t 'quest.quest' %>:
      <strong>
        <%= link_to quest.title, quest %>
      </strong>
    </cite>
  </h3>

  <p class="desc">
    <%= render 'quests/current_winner', code: quest.best_code %>
    <strong><%= t 'quest.answers_number' %>:</strong>
    <%= quest.codes.count %> /
    <strong><%= t 'posted_date' %>:</strong>
    <%= l quest.created_at, format: :date_only %>
  </p>

  <% medals = ['gold', 'silver', 'bronze'] %>

  <% quest.finalists.each_with_index do |code, index| %>
    <%= render 'codes/medalist', code: code, medal: medals[index] if index < 3 && !code.nil? %>
  <% end %>
</section>
