  <article id="top">

    <% unless user_signed_in? %>
      <section id="header" class="jumbotron">
        <div class="container">
          <h1>
            <%= image_tag 'header-codebattle-logo.png', alt: "CodeBattle" %>
          </h1>
          <p>
            <%= image_tag 'header-subtitle.png', alt: "THE WAR OF LANGUAGES" %>
          </p>
        </div>
      </section>

      <section id="sub-header">
        <div class="container">
          <h2>
            <%= image_tag 'sub-header-catchcopy.png', alt: t('general.sub_header_alt') %>
          </h2>
          <p>
            <%= simple_format t('general.introduction') %>
          </p>
        </div>
      </section>
    <% end %>

    <div id="quests">
      <%= render partial: 'quests/best_codes', collection: @quests, as: :quest %>

      <%= will_paginate @quests, class: 'pagination-panel', inner_window: 1, outer_window: 0 %>
    </div>


  </article>
