  <article id="quest" class="clearfix">
    <section>
      <h3 class="title">
        <span class="author">
          <%= t('quest.from', username: link_to(@quest.creator_username, @quest.creator)).html_safe %>
        </span>
        <br>
        <cite><%= @quest.title %></cite>
        <br>
        <% if can? :edit, @quest %>
          <small><%= link_to t('btn.edit'), edit_quest_path(@quest) %></small>
        <% end %>
        <% if can? :destroy, @quest %>
          <small><%= link_to t('btn.delete'), quest_path(@quest), method: :delete, confirm: t('btn.confirm_delete') %></small>
        <% end %>
      </h3>
      <p class="desc">
        <%= render 'quests/current_winner', code: @quest.best_code %>
        <strong><%= t 'quest.answers_number' %>:</strong> <%= @quest.codes.count %> / <strong><%= t 'quest.posted_date' %>:</strong>
        <%= l @quest.created_at, format: :date_only %>
      </p>

      <div class="quest-desc">
        <%= simple_format @quest.description %>
      </div>

      <ul class="nav nav-tabs">
        <li class="<%= @battle_mode ? '': 'active' %>">
          <%= link_to t('code.see_codes'), @quest %>
        </li>
        <li class="<%= @battle_mode ? 'active' : '' %>">
          <%= link_to t('battle.see_battles'), quest_path(@quest, mode: 'battle') %>
        </li>
      </ul>

      <% if @battle_mode %>
        <%= render 'quests/battles', quest: @quest, battles: @battles %>
      <% else %>
        <%= render 'quests/codes', quest: @quest, codes: @codes, guild: @guild %>
      <% end %>

    </section>
</article>
