  <article id="quest" class="clearfix">

    <section>
      <h3 class="title">
        <span class="author">
          <%= t('quest.from', username: link_to(@quest.creator_username, @quest.creator)).html_safe %>
        </span>
        <br>
        <cite><%= @quest.title %></cite>
        <br>
      </h3>
      <p class="desc">
        <%= render 'quests/current_winner', code: @quest.best_code %>
        <strong><%= t 'quest.answers_number' %>:</strong> <%= @quest.codes.count %> / <strong><%= t 'quest.posted_date' %>:</strong>
        <%= l @quest.created_at, format: :date_only %>
      </p>

      <% if user_signed_in? %>
        <div id="post-container">
          <% if current_user.wrote_code?(@quest) %>
            <%= link_to t('code.edit_long'), edit_quest_code_path(@quest, current_user.code_for_quest(@quest)), id: 'post', class: 'btn-default' %>
          <% else %>
            <%= link_to t('code.post'), new_quest_code_path(@quest), id: 'post', class: 'btn-default' %>
          <% end %>
        </div>
        <br>
        <div class="battle-button">
          <%= link_to t('battle.start'), battle_quest_path(@quest), class: 'btn btn-default' %>
        </div>
      <% end %>

      <!-- add -->
      <label><span><%= t 'quest.choose_language' %></span></label>
      <% guilds_array = Guild.all.map { |g| [g.name.capitalize, g.url_safe_name] } %>
      <script>
       function selectl(obj){
         var url;
         if(obj.value == "") {
           url = "/quests/" + <%= @quest.id %>;
         } else {
           url = "/quests/" + <%= @quest.id %> + "?guild_id=" + obj.value;
         }
         location.href = url;
       }
      </script>
        <%= select :code, :guild_id, guilds_array, {
          include_blank: t('guild.show_all'),
          selected: (@guild.nil? ? "" : params[:guild_id])
        }, {
          id: "lang",
          class: "lang form-control input-lg",
          onchange: "selectl(this)"
        } %>
      <!-- add end -->

      <%= render partial: 'codes/simple_code', collection: @codes, as: :code, locals: { skip_title: true, print_author: true } %>
    </section>

  <%= will_paginate @codes %>

</article>
