  <article id="quest" class="clearfix">

    <section>
      <h3 class="title">
        <span class="author">
          <%= t('quest.from', username: link_to(@quest.creator.username, @quest.creator)).html_safe %>
        </span>
        <br>
        <cite><%= @quest.title %></cite>
        <br>
      </h3>
      <p class="desc">
        <%= render 'quests/current_winner', code: @quest.get_top_code %>
        <strong><%= t 'quest.answers_number' %>:</strong> <%= @quest.codes.count %> / <strong><%= t 'quest.posted_date' %>:</strong>
        <%= l @quest.created_at, format: :date_only %>
      </p>

      <p class="description">
        <%= @quest.description %>
      </p>

      <%= render partial: 'codes/simple_code', collection: @codes, as: :code, locals: { skip_title: true, print_author: true } %>
    </section>

  <%= will_paginate @codes %>

</article>
