<h1><%= @quest.title %></h1>
<p><%= @quest.description %></p>


<% if user_signed_in? %>
  <div class="code-actions">
    <% if @code %>
      <%= link_to 'Show my spell', quest_code_path(@quest, @code) %>
    <% else %>
      <%= link_to 'Cast a spell', new_quest_code_path(@quest) %>
    <% end %>
  </div>
<% end %>

<div class="codes">
  <% if @codes.empty? %>
    No spell casted for this quest.
  <% else %>
    <%= render partial: 'codes/code_line', collection: @codes, as: :code, locals: { fields: [:author, :guild] } %>
    <%= will_paginate @codes %>
  <% end %>
</div>

<div class="rank">
  <%#=  test %>
  <%#= p @quest_rank %><br>
  <% @quest_rank.each do |pair| %>
    <% @guild = Guild.find(pair[0]) %>
    <% if Code.find_by_id(@quest_guild_top[pair[0]])  %>
      <% @src = Code.find(@quest_guild_top[pair[0]]) %>
    <% else %>
      <% @src = Code.find_by_id(1) %>
    <% end %>
    <%= p @guild.name  %><br>
    Point <%=  p pair[1] %><br>
    Src <%#= @src.source %><br>
    <button onclick="alert('OK')" id="button_<%= pair[0] %>" >vote</button>
    <p>
  <% end %>
</div>
