  <div class="code guild"
       data-in-guild="<%= user_signed_in? && current_user.in_guild?(guild) %>"
       data-url-safe-name="<%= guild.url_safe_name %>"
  >
    <h4 class="<%= guild.url_safe_name %>">
      <%= link_to guild do %>
        <%= image_tag "#{guild.url_safe_name}-logo.png", alt: guild.name, class: 'lang' %>
        <%= t 'guild.members_count_label' %>:
        <span class="user-count"><%= guild.users_count %></span>
      <% end %>
    </h4>
    <p class="users-list">
      <%= render partial: 'users/avatar', collection: guild.recent_users, as: :user %>
    </p>
    <% if user_signed_in? %>
      <span class="more">
        <% text = current_user.in_guild?(guild) ? 'leave' : 'enter' %>
          <%= link_to t("guild.#{text}"), guild, class: "btn btn-default enter-leave-link #{text}" %>
      </span>
    <% end %>
</div>
