<article id="guild">


  <section>
    <h3 class="title <%= @guild.url_safe_name %>">
      <span class="author">
        <%= t 'guild.house' %>
      </span>
      <br>
      <cite>
        <%= image_tag "#{@guild.url_safe_name}-logo.png", alt: @guild.name, class: 'lang' %>
        's House
      </cite>
      <br>
    </h3>
    <p class="desc">
      <%= t 'guild.conquer', language: @guild.name.capitalize %>
    </p>
    <div id="code-container" class="clearfix">

      <table class="info table table-bordered">
        <thead>
          <tr>
            <th><%= t 'guild.members_count_label' %></th>
            <th><%= t 'guild.territory' %></th>
            <th><%= t 'guild.possession_rate' %></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= t 'guild.members_count', count: @guild.users.count %></td>
            <td><%= number_to_percentage (@guild.get_territory_percent * 100), precision: 2 %></td>
            <td><%= t 'guild.rank', number: @guild.get_my_rank %></td>
          </tr>
        </tbody>
      </table>

      <div id="members">
        <%= render partial: 'users/avatar', collection: @users, as: :user %>
      </div>

      <%= render partial: 'codes/simple_code', collection: @codes, as: :code %>
    </div>

  </section>

  <%= will_paginate @codes, param_name: :code_page %>
</article>
