<div class="media comment">
  <a class="pull-left" href="#">
    <img src="{{comment.user.gravatar_url}}" alt="Gravatar" class="avatar">
  </a>
  <div class="media-body">
    <h4 class="media-heading">
      <a href="/users/{{comment.user.id}}">
        {{ comment.user.username }}
      </a>
      <span class="date">
        {{ comment.friendly_created_date }}
      </span>
      {{#if comment.can_edit }}
        <div class="pull-right comment-controls">
          <a href="#" class="edit">
            {{ t 'btn.edit' }}
          </a>
          <a href="#" class="delete">
            {{ t 'btn.delete' }}
          </a>
        </div>
      {{/if}}
    </h4>
    {{{ comment.content }}}
  </div>
</div>
