<div class="media comment">
  <a class="pull-left" href="#">
    <img src="{{comment.user.gravatar_url}}" alt="Gravatar" class="avatar">
  </a>
  {{#if comment.isOwner}}
    <div class="pull-right comment-controls">
      <a href="#">
        編集
      </a>
      <a href="#">
        削除
      </a>
    </div>
  {{/if}}
  <div class="media-body">
    <h4 class="media-heading">
      <a href="/users/{{comment.user.id}}">
        {{ comment.user.username }}
      </a>
      <span class="date">
        {{ comment.humanCreatedAt }}
      </span>
    </h4>
    {{{ comment.content }}}
  </div>
</div>
