  <article id="profile">

    <section>
      <h3 class="title">
        <%= render 'users/avatar', user: @user, text: true %>
        <% if user_signed_in? && current_user.id == @user.id %>
          <%= link_to t('btn.edit'), edit_user_path(current_user), class: 'btn btn-default' %>
        <% end %>
      </h3>
      <div id="code-container" class="clearfix">

        <div id="guilds">
          <h4 class="guild"><%= t 'user.guilds' %></h4>
          <%= render partial: 'guilds/logo', collection: @user.guilds, as: :guild %>
        </div>

        <%= render partial: 'codes/simple_code', collection: @codes, as: :code %>
      </div>
    </section>

    <%= will_paginate @codes %>
</article>
