<% content_for :javascript do %>
  <script>
    Dmtc.Globals.guilds = new Dmtc.Collections.Guilds(<%= @languages_stats.to_json.html_safe %>);
    Dmtc.Globals.guilds.liked = new Dmtc.Collections.Guilds(<%= @liked.to_json.html_safe %>);
  </script>
  <%= javascript_include_tag "https://www.google.com/jsapi" %>
  <%= javascript_include_tag "languages_chart" %>
  <%= javascript_include_tag "liked_chart" %>
<% end %>

<article id="profile">
  <section>
    <h3 class="title">
      <%= render 'users/avatar', user: @user, text: true %>
      <% if user_signed_in? && current_user.id == @user.id %>
        <%= link_to t('btn.edit'), edit_user_path(current_user), class: 'btn btn-default' %>
      <% end %>
    </h3>
    <div id="code-container" class="clearfix">

      <div id="guilds">
        <h4 class="guild"><%= t 'user.guilds' %></h4>
        <% if @user.guilds.empty? %>
          <%= t 'user.no_guild' %>
        <% else %>
          <%= render partial: 'guilds/logo', collection: @user.guilds, as: :guild %>
        <% end %>
        <br>
      </div>
      <div id="guilds-piechart"></div>
      <div id="liked-columnchart"></div>

      <% if @codes.empty? %>
        <div class="single-code">
          <%= render 'codes/no_code', code: Code.dummy %>
        </div>
      <% else %>
        <%= render partial: 'codes/simple_code', collection: @codes, as: :code %>
      <% end %>
    </div>
  </section>

  <%= will_paginate @codes %>
</article>
