<%= form_for [quest, code] do |f| %>
  <% guilds_array = user.guilds.map { |g| [g.name.capitalize, g.id] } %>
  <div id="select-options-single">
    <section id="select-lang-section">
      <label for="select-lang">
        <span><%= t 'code.choose_guild' %></span>
      </label>
      <%= f.select :guild_id, guilds_array, {}, { id: "select-lang", class: "lang form-control input-lg" } %>
    </section>
  </div>

  <div class="code">
    <%= text_area :code, 'source', placeholder: t('code.placeholder') %>
  </div>
  <div id="post-container">
    <p><%= t 'code.publish_warning' %></p>
    <%= f.submit t('general.submit'), id: "post", class: "btn-default" %>
  </div>
<% end %>
