      <div class="code <%= medal %>">
        <h4 class="<%= code.guild_url_safe_name %>">
          <%= link_to code.guild do %>
            <%= image_tag "#{code.guild_url_safe_name}-logo.png", alt: code.guild_name, class: 'lang' %>
          <% end %>
          <%= t 'code.author' %>:
          <%= link_to code.author do %>
            <%= code.author_username %>
            <%= gravatar_image_tag code.author_email, alt: code.author_username, class: 'avatar' %>
          <% end %>
        </h4>
        <%= code.formatted_source.html_safe %>

        <span class="more">
          <%= link_to t('code.read_more'), [code.quest, code], class: 'btn btn-default' %>
        </span>
      </div>
