<% link = link_to image_tag("#{code.guild.url_safe_name}-logo.png", alt: code.guild.name, class: :lang), code.guild %>

<div class="code">
  <h4 class="<%= code.guild.url_safe_name %>">
    <%= t('code.used_language', language: link).html_safe %>
    <% unless defined?(skip_title) %>
      <br>
      <span class="title">
        <%= t 'quest.title' %>
        <%= link_to code.quest.title, code.quest %>
      </span>
    <% end %>
    <span class="author">
    <%= render 'users/avatar', user: code.author, text_before: defined?(print_author) %>
    </span>
  </h4>
    <%= code.formatted_source.html_safe %>
  <span class="more">
    <%= link_to t('code.read_more'), [code.quest, code], class: 'btn btn-default' %>
  </span>
</div>

