  <article id="codepage">

    <section>
      <h3 class="title">
        <span class="author">
          <%= t('quest.from', username: link_to(@quest.creator.username, @quest.creator)).html_safe %>
          からのクエスト
        </span>
        <br>
        <cite>
          <%= @quest.title %>
        </cite>
        <br>
        <span class="link">
          <%= link_to t('general.to_top'), root_path %>
        </span>
      </h3>
      <p class="desc">
        <strong><%= t 'code.current_first' %>:</strong>
        <%= @code.guild.name %>
        (<%= t('code.written_by', username: link_to(@best_code.author.username, @best_code.author)).html_safe %>) /
        <strong><%= t 'quest.answers_number' %>:</strong>
        <%= @quest.codes.count %> /
        <strong><%= t 'posted_date' %>:</strong>
        <%= l @quest.created_at, format: :date_only %>
      </p>

      <div class="code">
        <h4 class="<%= @code.guild.url_safe_name %>">
          <%= t('code.used_language', image_tag("#{@code.guild.url_safe_name}-logo.png", alt: @code.guild.name)).html_safe %>

          <span class="plusone btn btn-warning">+1</span>
          <span class="plusone-result"><%= @code.likes.count %></span>

          <span class="author">
            <%= t 'code.author' %>:
            <%= link_to @code.author do %>
              <%= code.author.username %>
              <%= gravatar_image_tag @code.author.email, alt: @code.author.username, class: 'avatar' %>
            <% end %>
          </span>
        </h4>
        <%= @code.formatted_source %>
      </div>

      <div id="vote-container">
        <p>この回答がPythonギルドの中では現在"+1"数がNo.1です。<br>
        そのため、他言語との決選に挑んでいる最中です。</p>
        <a id="vote" class="python">Python に一票を投じる</a>
      </div>
      <div id="comment-others-container" class="row">
        <div id="comment" class="col-lg-7 col-md-7">
          <h5>3件のコメント</h5>
          <div class="media">
            <a class="pull-left" href="#">
              <img class="avatar media-object" src="img/comment-img.png" alt="...">
            </a>
            <div class="media-body">
              <h4 class="media-heading"><a href="">Anderson</a><span class="date">4日前</span></h4>
              てすとてすとてすとてすとてすと！<br>
              てすとてすtesttesttestですかね？<br>
              kaklakldsfkdsfklfsklfdsklfds dslkfaj aflkdsjfas!
            </div>
          </div>
          <div class="media">
            <a class="pull-left" href="#">
              <img class="avatar media-object" src="img/comment-img.png" alt="...">
            </a>
            <div class="media-body">
              <h4 class="media-heading"><a href="">Anderson</a><span class="date">6日前</span></h4>
              てすとてすとてすとてすと<br>
              kaklakldsfkdsfklfsklfdsklfds
            </div>
          </div>
          <hr>
          <form action="">
            <textarea class="form-control" rows="3"></textarea>
            <button type="button" class="comment-post btn btn-primary pull-right">コメントを投稿</button>
          </form>
        </div>
        <div id="others" class="col-lg-5 col-md-5">
          <h5>ほかのユーザーの回答</h5>
          <a class="code python" href="">
            <img class="lang" src="img/python-logo.png" alt="Python"/>で行く!
            <span class="author">回答者: <img class="avatar" src="img/mmarilyn.png" alt=""/></span>
          </a>
          <a class="code php" href="">
            <img class="lang" src="img/php-logo.png" alt="PHP"/>で行く!
            <span class="author">回答者: <img class="avatar" src="img/mmarilyn.png" alt=""/></span>
          </a>
          <a class="code ruby" href="">
            <img class="lang" src="img/ruby-logo.png" alt="Ruby"/>で行く!
            <span class="author">回答者: <img class="avatar" src="img/mmarilyn.png" alt=""/></span>
          </a>
          <a class="code python" href="">
            <img class="lang" src="img/python-logo.png" alt="Python"/>で行く!
            <span class="author">回答者: <img class="avatar" src="img/mmarilyn.png" alt=""/></span>
          </a>
          <a class="code ruby" href="">
            <img class="lang" src="img/ruby-logo.png" alt="Ruby"/>で行く!
            <span class="author">回答者: <img class="avatar" src="img/mmarilyn.png" alt=""/></span>
          </a>
        </div>
      </div>

    </section>

  </















<h2>code</h2>

<%= render 'quests/short', quest: @quest %>

<div class="code-container">
  <%= @code.formatted_source.html_safe %>

  <% if @is_owner %>
    <%= link_to 'Edit code', edit_quest_code_path(@quest, @code) %>
    <%= link_to 'Delete code', quest_code_path(@quest, @code), method: :delete, confirm: true %>
  <% else %>
    <%= render 'codes/like', code: @code %>
  <% end %>
</div>


<div id="comments">
  <% if user_signed_in? %>
    <%= render 'comments/form' %>
  <% end %>

  <div class="container">

  </div>

</div>

<% content_for :javascript do %>
  <script>
    var codeJSON = _.extend(<%= @code.to_json.html_safe %>, { liked: <%= @liked %> });
    var codeModel = new Dmtc.Models.Code(codeJSON);
    new Dmtc.Views.ShowCode({ model: codeModel });
    var comments = new Dmtc.Collections.Comments(<%= raw @code.comments.to_json %>);
    new Dmtc.Views.NewComment({ codeId: <%= @code.id %>, comments: comments });
    new Dmtc.Views.CommentsIndex({ collection: comments });
  </script>
<% end %>
