<article id="codepage">
  <section>
    <h3 class="title">
      <span class="author">
        <%= t('quest.from', username: link_to(@quest.creator.username, @quest.creator)).html_safe %>
      </span>
      <br>
      <cite>
        <%= link_to @quest.title, @quest %>
      </cite>
      <br>
      <span class="link">
        <%= link_to t('general.to_top').html_safe, root_path %>
      </span>
    </h3>
    <p class="desc">
      <strong><%= t 'code.current_first' %>:</strong>
      <%= @code.guild.name %>
      (<%= t('code.written_by', username: link_to(@best_code.author.username, @best_code.author)).html_safe %>) /
      <strong><%= t 'quest.answers_number' %>:</strong>
      <%= @quest.codes.count %> /
      <strong><%= t 'posted_date' %>:</strong>
      <%= l @quest.created_at, format: :date_only %>
    </p>

    <div class="code">
      <h4 class="<%= @code.guild.url_safe_name %>">
        <% link = link_to image_tag("#{@code.guild.url_safe_name}-logo.png", alt: @code.guild.name, class: :lang), @code.guild %>
        <%= t('code.used_language', language: link).html_safe %>

        <% if user_signed_in? && current_user != @code.author %>
          <span class="plusone btn btn-warning">+1</span>
        <% end %>
        <span class="plusone-result"><%= @code.likes.count %></span>
        <span class="author">
          <%= t 'code.author' %>:
          <%= link_to @code.author do %>
            <%= @code.author.username %>
            <%= gravatar_image_tag @code.author.email, alt: @code.author.username, class: 'avatar' %>
          <% end %>
        </span>
      </h4>
      <%= @code.formatted_source.html_safe %>
    </div>

    <% if @quest.guild_best_code?(@code) %>
      <div id="vote-container">
        <%= t 'code.can_be_voted' %>
        <%= render 'codes/vote', code: @code %>
      </div>
    <% end %>

    <div id="comment-others-container" class="row">
      <div id="comment" class="col-lg-7 col-md-7">
        <h5 class="comment-title" data-count="<%= @code.comments.count %>"><%= t 'comment.count', count: @code.comments.count %></h5>
        <div class="container">

        </div>
      <hr>
      <% if user_signed_in? %>
        <%= render 'comments/form' %>
      <% end %>
      </div>

      <div id="others" class="col-lg-5 col-md-5">
        <h5><%= t 'code.others' %></h5>
        <%= render partial: 'codes/rival', collection: @other_codes, as: :code %>
      </div>
    </div>

  </section>
</article>


<% content_for :javascript do %>
  <script>
    I18n.translations.ja.code.unvote = "<%= I18n.t('code.unvote') %>";
    var codeJSON = _.extend(<%= @code.to_json(methods: :likes_number).html_safe %>, { liked: <%= @liked %> });
    var codeModel = new Dmtc.Models.Code(codeJSON);
    new Dmtc.Views.ShowCode({ model: codeModel });
    var comments = new Dmtc.Collections.Comments(<%= raw @code.comments.to_json %>);
    new Dmtc.Views.NewComment({ codeId: <%= @code.id %>, comments: comments });
    new Dmtc.Views.CommentsIndex({ collection: comments });
    var codeVoteJSON = _.extend(<%= @code.to_json(include: :guild).html_safe %>, { voted: <%= @voted %> });
    var codeVote = new Dmtc.Models.CodeVote(codeVoteJSON);
    new Dmtc.Views.CodeVote({ model: codeVote });
  </script>
<% end %>
