<h2>code</h2>

<%= render 'quests/short', quest: @quest %>

<div class="code-container">
  <%= @code.formatted_source.html_safe %>

  <% if @is_owner %>
    <%= link_to 'Edit code', edit_quest_code_path(@quest, @code) %>
    <%= link_to 'Delete code', quest_code_path(@quest, @code), method: :delete, confirm: true %>
  <% else %>
    <%= render 'codes/like', code: @code %>
  <% end %>
</div>


<div id="comments">
  <% if user_signed_in? %>
    <%= render 'comments/form' %>
  <% end %>

  <div class="container">

  </div>

</div>

<% content_for :javascript do %>
  <script>
    var codeJSON = _.extend(<%= @code.to_json.html_safe %>, { liked: <%= @liked %> });
    var codeModel = new Dmtc.Models.Code(codeJSON);
    new Dmtc.Views.ShowCode({ model: codeModel });
    var comments = new Dmtc.Collections.Comments(<%= raw @code.comments.to_json %>);
    new Dmtc.Views.NewComment({ codeId: <%= @code.id %>, comments: comments });
    new Dmtc.Views.CommentsIndex({ collection: comments });
  </script>
<% end %>
