<article id="codepage">
  <section>
    <h3 class="title">
      <span class="author">
        <%= t('quest.from', username: link_to(@quest.creator_username, @quest.creator)).html_safe %>
      </span>
      <br>
      <cite>
        <%= link_to @quest.title, @quest %>
      </cite>
      <br>
      <span class="link">
        <%= link_to t('general.to_top').html_safe, root_path %>
      </span>
    </h3>
    <p class="desc">
      <% unless @best_code.nil? %>
        <strong><%= t 'quest.current_best' %>:</strong>
        <%= @best_code.guild.name %>
        (<%= t('code.written_by', username: link_to(@best_code.author.username, @best_code.author)).html_safe %>) /
      <% end %>
      <strong><%= t 'quest.answers_number' %>:</strong>
      <%= @quest.codes.count %> /
      <strong><%= t 'quest.posted_date' %>:</strong>
      <%= l @quest.created_at, format: :date_only %>
    </p>

    <div class="code clearfix">
      <h4 class="<%= @code.guild_url_safe_name %>">
        <% link = link_to image_tag("#{@code.guild_url_safe_name}-logo.png", alt: @code.guild_name, class: :lang), @code.guild %>
        <%= t('code.used_language', language: link).html_safe %>

        <% if can_like?(@code) %>
          <span class="plusone btn btn-warning">+1</span>
        <% end %>
        <span class="plusone-result"><%= @code.likes.count %></span>
        <span class="author">
          <%= t 'code.author' %>:
          <%= link_to @code.author do %>
            <%= @code.author_username %>
            <%= gravatar_image_tag @code.author_email, alt: @code.author_username, class: 'avatar' %>
          <% end %>
        </span>
      </h4>
      <div class="highlight">
        <pre><%= @code.formatted_source(nowrap: true).html_safe %></pre>
        <%= render 'codes/control_buttons', quest: @quest, code: @code %>
      </div>
    </div>

    <% if @code.finalist? %>
      <div id="vote-container">
        <%= t 'code.can_be_voted', language: @code.guild_name.capitalize %>
        <%= render 'codes/vote', code: @code %>
      </div>
    <% end %>

    <div id="comment-others-container" class="row">
      <div id="comment" class="col-lg-7 col-md-7">
        <h5 class="comment-title" data-count="<%= @code.comments.count %>"><%= t 'comment.count', count: @code.comments.count %></h5>
        <div class="container">

        </div>
      <hr>
      <% if user_signed_in? %>
        <%= render 'comments/form' %>
      <% end %>
      </div>

      <div id="others" class="col-lg-5 col-md-5">
        <h5><%= t 'code.others' %></h5>
        <%= render partial: 'codes/rival', collection: @other_codes, as: :code %>
      </div>
    </div>

  </section>
</article>


<% content_for :javascript do %>
  <script>
    Dmtc.Globals.comments = <%= render('comments/comment_list.json', comments: @code.comments).html_safe %>;
    Dmtc.Globals.code = <%= @code.to_json(methods: :likes_number, include: :guild).html_safe %>;
    Dmtc.Globals.liked = <%= @liked %>;
    Dmtc.Globals.voted = <%= @voted %>;
    Dmtc.Globals.userId = <%= user_signed_in? ? current_user.id : -1 %>;
  </script>
  <%= javascript_include_tag "quest_comments" %>
<% end %>
