  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">
      <%= link_to root_path, class: 'navbar-brand' do %>
        <%= image_tag 'navbar-codebattle-logo.png', alt: 'CodeBattle' %>
      <% end %>
    </div>

    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li class="<%= "active" if request.path == root_path %>">
          <%= link_to t('general.top'), root_path %>
        </li>
        <li class="<%= "active" if request.path == guilds_path %>">
          <%= link_to t('guild.index_title'), guilds_path %>
        </li>
        <% if user_signed_in? %>
        <li class="<%= "active" if request.path == new_quest_path %>">
          <%= link_to t('quest.new'), new_quest_path %>
        </li>
        <% end %>
      </ul>

        <%# add  %>
        <%= form_tag('/', :method => :get) do %>
          <ul class="nav navbar-nav pull-right">
            <li>
              <%= text_field_tag "regexp","", class: "form-control input search", maxlength: "255", placeholder: t('quest.search_placeholder') %>
            </li>
            <li>
              <%= submit_tag(:search, value: t('btn.search'), class: "btn btn-default")  %>
            </li>
            <% if user_signed_in? %>
              <li>
                <%= render 'users/avatar', user: current_user, text_before: true %>
              </li>
            <% end %>
            <li>
              <% if user_signed_in? %>
                <%= link_to t('general.logout'), destroy_user_session_path, method: :delete %>
              <% else %>
                <%= link_to '/users/auth/github' do %>
                  <i class="icon-github-sign"></i>
                  <%= t 'general.login_with_github' %>
                <% end %>
              <% end %>
            </li>
          </ul>
        <% end %>
    </div>
  </nav>
