<!DOCTYPE html>
<html>
<head>
  <title>Dmtc</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: name %>
  <% end -%>

<div class="container">
  <%= render 'layouts/header' %>

  <%= yield %>
</div>

<%= javascript_include_tag "application" %>
<script>
  I18n.locale = "<%= I18n.locale %>";
</script>
<%= yield :javascript %>
</body>
</html>
